<div class="row g-3 mb-3">
    <div class="col">
        <label for="requirement-type" class="form-label fw-semibold">Requirement</label>
        <select class="form-control form-select py-2" name="requirement-type" id="requirement-type" required>
            <option value="">Choose a requirement</option>
            <option value="Product" {% if company.requirement_type == "Product" %} selected {% endif %}>Product</option>
            <option value="Service" {% if company.requirement_type == "Service" %} selected {% endif %}>Service</option>
        </select>
        <div class="invalid-feedback">Please select a requirement.</div>
    </div>

    <div id="serviceInput" class="col" style="display: none;">
        <label for="service" class="form-label fw-semibold">Service</label>
        <select class="form-control form-select py-2" name="service" id="service">
            <option value="">Choose a service</option>
            {% for service in services %}
            <option value="{{ service.Service_Name }}" {% if service.Service_Name == company.service.Service_Name %} selected {% endif %}>{{ service.Service_Name }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Please select a service.</div>
    </div>

    <div id="brandInput" class="col" style="display: none;">
        <div class="row g-3">
            <div class="col">
                <label for="product" class="form-label fw-semibold">Product Name</label>
                <input type="text" class="form-control py-2" name="product" id="product" value="{{ company.Product_Name }}">
                <div class="invalid-feedback">Please enter a product name.</div>
            </div>
            
            <div class="col">
                <label for="brand" class="form-label fw-semibold">Brand</label>
                <select class="form-control form-select py-2" name="brand" id="brand">
                    <option value="">Choose a brand</option>
                    {% for brand in brands %}
                    <option value="{{ brand.Brand_Name }}" {% if brand.Brand_Name == company.brand.Brand_Name %} selected {% endif %}>{{ brand.Brand_Name }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Please select a brand.</div>
            </div>
        </div>
    </div>
</div>   

<div class="mb-3">
    <label for="requirement-description" class="form-label fw-semibold">Requirement Description</label>
    <textarea class="form-control" name="requirement-description" id="requirement-description" cols="30" rows="5" required>{{ company.Requirement_Description }}</textarea>
    <div class="invalid-feedback">Please enter a requirement description.</div>
</div>