@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.nav-link{
    margin-left: 1vw;
    font-size: 1.1rem;
    color: black;
}

.nav-link:hover{
    color: #FE5B3E;
}

.dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1000;
}

.nav-item:hover .dropdown-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 7vw;
}

.dropdown-menu li{
    margin-left: 0.25vw;
}

.dropdown-menu li a:hover{
    color: #FE5B3E;
}

.dropdown-menu li:last-child{
    margin-right: 0.25vw;
}

.transaction-content form{
    width: 75%;
}

.form-control{
    background-color: #e8e8e8;
    border: none;
}

.form-control:focus{
    background-color: #e8e8e8;
    border: none;
}

.btn{
    background-color: black;
    color: white;
    padding-bottom: 1.1vh;
}

.btn:hover{
    background-color: black;
    color: white;
}

.hl{
    border-top: 2px solid rgb(69, 69, 69);
}

.content, .transaction-content, .company-content, .company-detail-content, .sector-content, .sector-detail-content, .service-content, .service-detail-content, 
.via-content, .via-detail-content, .status-content, .status-detail-content, .brand-content, .brand-detail-content, .partner-content, .partner-detail-content{
    margin-top: 3%;
}

.company-detail-content th, .sector-detail-content th, .service-detail-content th, .via-detail-content th, .status-detail-content th, .brand-detail-content, .partner-detail-content th{
    color: #212529;
}

.company-detail-content td:nth-child(6), .company-detail-content td:nth-child(7) {
    max-width: 200px;
    overflow-wrap: break-word;
}

.modal-content{
    width: 175%;
    margin-top: 15vh;
    margin-left: -12.2vw;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.was-validated .form-control:invalid, .was-validated .form-control:valid{
    background-image: none;
}