@import url(style.css);

.navbar-nav .nav-link{
    margin-left: 1vw;
    font-size: 1.1rem;
}

.dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1000;
}

.nav-item:hover .dropdown-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 7vw;
}

.dropdown-menu li{
    margin-left: 0.25vw;
}

.dropdown-menu li a:hover{
    color: #FE5B3E;
}

.dropdown-menu li:last-child{
    margin-right: 0.25vw;
}

.content{
    margin-top: 7%;
}

.content .row{
    width: 55%;
}

.hl{
    border-top: 2px solid rgb(69, 69, 69);
}

.company-content, .company-detail-content, .sector-content, .sector-detail-content, .requirement-content, .requirement-detail-content, 
.via-content, .via-detail-content, .status-content, .status-detail-content, .partner-content, .partner-detail-content{
    margin-top: 3%;
}

.company-detail-content th, .sector-detail-content th, .requirement-detail-content th, .via-detail-content th, .status-detail-content th, .partner-detail-content th{
    color: #212529;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.was-validated .form-control:invalid, .was-validated .form-control:valid{
    background-image: none;
}