{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Company</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png'  %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png'  %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        <div id="navbar">
            <nav class="navbar navbar-expand-lg justify-content-center">
                <div class="container-fluid mt-3">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" alt="Resecurity CRM" width="75">
                    </a>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mt-3">
                            <li class="nav-item" id="master">
                                <a class="nav-link fw-semibold" style="cursor: pointer;">Master</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=company" value="company">Company</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=sector" value="sector">Sector</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=requirement" value="requirement">Requirement</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=via" value="via">Via</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=status" value="status">Status</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=brand" value="brand">Brand</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=partner" value="partner">Partner</a></li>
                                </ul>
                            </li>
                            <li class="nav-item active" id="transactions">
                                <a class="nav-link fw-semibold" href="{% url 'index' %}">Transactions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div id="company-detail-content" class="company-detail-content container">
            <h3>Company Information</h3>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Company Name</th>
                        <th scope="col">City</th>
                        <th scope="col">Contact Person</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ company.Company_Name }}</td>
                        <td>{{ company.city }}</td>
                        <td>{{ company.Contact_Person }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="hl mt-3"></div>

            <div class="mt-5">
                <h3>Transactions</h3>

                <form method="GET" action="{% url 'companydetails' company.id %}">
                    <div class="row">
                        <div class="col-3">
                            <input type="date" class="form-control" name="start_date" placeholder="Start Date">
                        </div>
                        <div class="col-3">
                            <input type="date" class="form-control" name="end_date" placeholder="End Date">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn w-100">Filter</button>
                        </div>
                    </div>
                </form>

                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in filtered_transactions %}
                        <tr>
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.action }}</td>
                            <td>{{ transaction.remark }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var dropdownLinks = document.querySelectorAll("#master .dropdown-item");
            
            dropdownLinks.forEach(function(link){
                link.addEventListener("click", function(event){
                    event.preventDefault();
                    var selectedValue = link.getAttribute("value");
                    window.location.href = "{% url 'master' %}?selection=" + selectedValue;
                });
            });
        });
    </script>

    <script>
        if( window.history.replaceState ){
            window.history.replaceState( null, null, window.location.href );
        }
    </script>

    <script src="/static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/296ff2fa8f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>