{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resecurity CRM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        <div id="navbar">
            <nav class="navbar navbar-expand-lg px-1">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'homepage' %}">
                        <img src="{% static 'images/logo.png' %}" alt="Resecurity CRM" width="175">
                    </a>
    
                    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
                        <ul class="nav fw-semibold">
                            
                            <li class="nav-item">
                                <a href="{% url 'login' %}">
                                    <button class="btn rounded-pill fw-semibold ms-2 px-5">Login</button>
                                </a>
                            </li>
                        </ul>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>

        <div id="content">
            <div class="content text-center">
                <p class="text-uppercase">Welcome to Resecurity CRM</p>
                <h1 class="custom-font">Browse through the variety of helmets.</h1>

                <a href="{% url 'product' %}">
                    <button class="btn rounded-pill fw-semibold mt-5 px-4 py-2">Explore Helmets</button>
                </a> 
            </div>
        </div>
        
        <div id="sub-content">
            <div class="sub-content text-center mb-1">
                <p class="text-uppercase">How It Works</p>
                <h1 class="custom-font">Follow these 3 steps.</h1>

                <div class="row custom-font mt-3">
                    <div class="col rounded py-4">
                        <i class="fa-solid fa-user-plus fa-2xl" style="color: #082852;"></i><br>
                        <h5 class="mt-3">Step 1:<br>Register or Sign in</h5>
                    </div>
                    
                    <div class="col rounded py-4">
                        <i class="fa-solid fa-arrow-pointer fa-2xl" style="color: #082852;"></i>
                        <h5 class="mt-3">Step 2:<br>Choose your product</h5>
                    </div>
                    
                    <div class="col rounded py-4">
                        <i class="fa-solid fa-box fa-2xl" style="color: #082852;"></i>
                        <h5 class="mt-3">Step 3:<br>Pick up the product</h5>
                    </div>
                </div>
            </div>
        </div>

        

        <div id="reason-content">
            <div class="reason-content text-center">
                <p class="text-uppercase custom-title">We are Resecurity CRM</p>
                <h1 class="custom-font">Why choose us?</h1>

                <div class="d-flex justify-content-evenly">
                    <div class="row row-cols-md-3 row-gap-4 mt-5">
                        <div class="col">
                            <div class="card h-100">
                                <div class="d-flex justify-content-center pt-5 pb-3">
                                    <i class="fa-solid fa-shield-heart fa-2xl" style="color: #fe5b3e;"></i>
                                </div>

                                <div class="card-body">
                                    <h4 class="card-title custom-font">Safety First</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, suscipit.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card h-100">
                                <div class="d-flex justify-content-center pt-5 pb-3">
                                    <i class="fa-solid fa-vest-patches fa-2xl" style="color: #fe5b3e;"></i>
                                </div>

                                <div class="card-body">
                                    <h4 class="card-title custom-font">Style and Comfort</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, suscipit.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card h-100">
                                <div class="d-flex justify-content-center pt-5 pb-3">
                                    <i class="fa-solid fa-dollar-sign fa-2xl" style="color: #fe5b3e;"></i>
                                </div>

                                <div class="card-body">
                                    <h4 class="card-title custom-font">Affordability</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, suscipit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="footer container pt-5">
            <div class="container">
                <a class="navbar-brand px-1" href="{% url 'homepage' %}">
                    <img src="{% static 'images/footerLogo.png' %}" alt="Resecurity CRM" width="175">
                </a>

                <div class="row mt-3 ps-1">
                    <div class="col-5">
                        <p class="footer-content">
                            Resecurity CRM is your go-to destination for helmet enthusiasts and safety conscious riders. Explore a curated collection of helmets with cutting-edge designs, advanced safety features, and unbeatable comfort.
                            From informative guides to seamless online shopping, Resecurity CRM is where style meets security for riders who prioritize both fashion and safety on the road.
                        </p>

                        <div class="copyright">
                            <p>Copyright &copy; All Rights Reserved</p>
                        </div>
                    </div>

                    <div class="col ms-5">
                        <h5>Customer Services</h5>

                        <div class="row">
                            <div class="col">
                                <p>FAQ</p>
                                <p>About Us</p>
                                <p>Contact Us</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <h5>Company</h5>

                        <div class="row">
                            <div class="col">
                                <p>Company</p>
                                <p>Blog</p>
                                <p>Careers</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <h5>Information</h5>

                        <div class="row">
                            <div class="col">
                                <p>Kathmandu Valley, Nepal</p>
                                <p>(+977) 9876543210</p>
                                <p>info@shieldedskull.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="" id="scroll-to-top">
        <div class="top" id="top">
            <i class="fa-solid fa-arrow-up fa-lg" style="color: #ffffff;"></i>
        </div>
    </a>

    <script src="/static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/296ff2fa8f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>