<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shielded Skull</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        <div id="navbar">
            <nav class="navbar px-1">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'homepage' %}">
                        <img src="{% static 'images/logo.png' %}" alt="Shielded Skull" width="175">
                    </a>
                </div>
            </nav>
        </div>

        <div id="login-content">
            <div class="login-content text-center">
                <p class="text-uppercase">Login</p>
                <h1 class="custom-font">Fill up the form to login.</h1>
            </div>

            <div class="container input-container w-50 mt-4">
                <form class="row g-3 needs-validation" novalidate>
                    <div>
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control py-2" id="email" required>
                    </div>
    
                    <div>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control py-2" id="password" required>
                    </div>

                    <div>
                        <input class="form-check-input" type="checkbox" value="" id="showpassword" onclick="showPassword()">
                        <small>
                            <label class="form-check-label" for="showpassword">Show Password</label>
                        </small>
                    </div>
                
                    <div class="text-center">
                        <button type="submit" class="btn rounded-pill fw-semibold mt-3 px-4">Login</button>
                    </div>

                    <div class="text-center">
                        <p class="mt-3">Don't have an account? <a class="nav-link fw-semibold" id="register" onclick="showRegisterForm()" style="cursor: pointer;">Register</a></p>
                    </div>
                </form>
            </div>
        </div>

        <div id="register-content" style="display: none;">
            <div class="register-content text-center">
                <p class="text-uppercase">Register</p>
                <h1 class="custom-font">Fill up the form to register.</h1>
            </div>

            <div class="container input-container w-50 mt-4">
                <form class="row g-3 needs-validation" novalidate>
                    <div>
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" class="form-control py-2" id="name" required>
                    </div>
            
                    <div>
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control py-2" id="email" required>
                    </div>
    
                    <div>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control py-2" id="regpassword" required>
                    </div>

                    <div>
                        <input class="form-check-input" type="checkbox" value="" id="showregpassword" onclick="showRegPassword()">
                        <small>
                            <label class="form-check-label" for="showregpassword">Show Password</label>
                        </small>
                    </div>
                
                    <div class="text-center">
                        <button type="submit" class="btn rounded-pill fw-semibold mt-3 px-4">Submit</button>
                    </div>

                    <div class="text-center">
                        <p class="mt-3">Already have an account? <a class="nav-link fw-semibold" id="login" onclick="showLoginForm()" style="cursor: pointer;">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="footer container pt-5">
            <div class="container">
                <a class="navbar-brand px-1" href="{% url 'homepage' %}">
                    <img src="{% static 'images/footerLogo.png' %}" alt="Shielded Skull" width="175">
                </a>

                <div class="row mt-3 ps-1">
                    <div class="col-5">
                        <p class="footer-content">
                            Shielded Skull is your go-to destination for helmet enthusiasts and safety conscious riders. Explore a curated collection of helmets with cutting-edge designs, advanced safety features, and unbeatable comfort.
                            From informative guides to seamless online shopping, Shielded Skull is where style meets security for riders who prioritize both fashion and safety on the road.
                        </p>

                        <div class="copyright">
                            <p>Copyright &copy; All Rights Reserved</p>
                        </div>
                    </div>

                    <div class="col ms-5">
                        <h5>Customer Services</h5>

                        <div class="row">
                            <div class="col">
                                <p>FAQ</p>
                                <p>About Us</p>
                                <p>Contact Us</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <h5>Company</h5>

                        <div class="row">
                            <div class="col">
                                <p>Company</p>
                                <p>Blog</p>
                                <p>Careers</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <h5>Information</h5>

                        <div class="row">
                            <div class="col">
                                <p>Kathmandu Valley, Nepal</p>
                                <p>(+977) 9876543210</p>
                                <p>info@shieldedskull.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        (() => {
            'use strict'

            const forms = document.querySelectorAll('.needs-validation')
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>

    <script>
        if( window.history.replaceState ){
            window.history.replaceState( null, null, window.location.href );
        }
    </script>

    <script src="/static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/296ff2fa8f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>