{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Master Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        <div id="navbar">
            <nav class="navbar navbar-expand-lg justify-content-center">
                <div class="container-fluid mt-3">
                    <a class="navbar-brand" href="{% url 'homepage' %}">
                        <img src="{% static 'images/logo.png' %}" alt="Resecurity CRM" width="55">
                    </a>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mt-3">
                            <li class="nav-item" id="master">
                                <a class="nav-link fw-semibold" style="cursor: pointer;">Master</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=company" value="company">Company</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=sector" value="sector">Sector</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=requirement" value="requirement">Requirement</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=via" value="via">Via</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=status" value="status">Status</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=partner" value="partner">Partner</a></li>
                                </ul>
                            </li>
                            <li class="nav-item active" id="transactions">
                                <a class="nav-link fw-semibold" href="{% url 'homepage' %}">Transactions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Company -->

        {% if selection == "company" %}
        <div class="container mt-5">
            <div class="row g-3">
                <div class="col">
                    <form class="d-flex" id="search" role="search">
                        <input class="form-control me-2 py-2" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                <div class="col-3">
                    <a href="{% url 'newcompany' %}">
                        <button type="submit" class="btn fw-semibold w-100" name="company-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new company
                        </button>
                    </a>
                </div>
            </div>

            <div class="hl mt-3"></div>
        </div>

        <div id="company-detail-content" class="company-detail-content container">
            <h3>Company Master</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Company Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                    <tr>
                        <td>{{ company.Company_Name }}</td>
                        <td>
                            <a href="{% url 'companyform' company.id %}">
                                <i class="fa-solid fa-pen-to-square" style="color: #212529;"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'companydetails' company.id %}">
                                <i class="fa-solid fa-eye" style="color: #212529;"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Sector Details Form -->

        {% elif selection == "sector" %}        
        <div id="sector-detail-content" class="sector-detail-content container">
            <div class="row">
                <div class="col">
                    <h3>Sector Master</h3>
                </div>
                <div class="col-3">
                    <a href="{% url 'newform' %}?formtype=sector">
                        <button type="submit" class="btn fw-semibold w-100" name="sector-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new sector
                        </button>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sector Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sector in sectors %}
                    <tr>
                        <td>{{ sector.Sector_Name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Requirement Details Form -->

        {% elif selection == "requirement" %}
        <div id="requirement-detail-content" class="requirement-detail-content container">
            <div class="row">
                <div class="col">
                    <h3>Requirement Master</h3>
                </div>
                <div class="col-3">
                    <a href="{% url 'newform' %}?formtype=requirement">
                        <button type="submit" class="btn fw-semibold w-100" name="requirement-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new requirement
                        </button>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Requirement Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for requirement in requirements %}
                    <tr>
                        <td>{{ requirement.Requirement_Name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Via Details Form -->

        {% elif selection == "via" %}
        <div id="via-detail-content" class="via-detail-content container">
            <div class="row">
                <div class="col">
                    <h3>Via Master</h3>
                </div>
                <div class="col-2">
                    <a href="{% url 'newform' %}?formtype=via">
                        <button type="submit" class="btn fw-semibold w-100" name="via-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new via
                        </button>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Via Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for via in vias %}
                    <tr>
                        <td>{{ via.Via_Name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Status Details Form -->

        {% elif selection == "status" %}
        <div id="status-detail-content" class="status-detail-content container">
            <div class="row">
                <div class="col">
                    <h3>Status Master</h3>
                </div>
                <div class="col-2">
                    <a href="{% url 'newform' %}?formtype=status">
                        <button type="submit" class="btn fw-semibold w-100" name="status-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new status
                        </button>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Status Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for status in statuses %}
                    <tr>
                        <td>{{ status.Status_Name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Partner Details Form -->
        
        {% elif selection == "partner" %}
        <div class="container mt-5">
            <div class="row g-3">
                <div class="col">
                    <form class="d-flex" id="search" role="search">
                        <input class="form-control me-2 py-2" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                <div class="col-3">
                    <a href="{% url 'newpartner' %}">
                        <button type="submit" class="btn fw-semibold w-100" name="company-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new partner
                        </button>
                    </a>
                </div>
            </div>

            <div class="hl mt-3"></div>
        </div>

        <div id="partner-detail-content" class="partner-detail-content container">
            <h3>Partner Master</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sector Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for partner in partners %}
                    <tr>
                        <td>{{ partner.Partner_Name }}</td>
                        <td>
                            <a href="{% url 'partnerform' partner.id %}">
                                <i class="fa-solid fa-pen-to-square" style="color: #212529;"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'partnerdetails' partner.id %}">
                                <i class="fa-solid fa-eye" style="color: #212529;"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var dropdownLinks = document.querySelectorAll("#master .dropdown-item");
            
            dropdownLinks.forEach(function(link){
                link.addEventListener("click", function(event){
                    event.preventDefault();
                    var selectedValue = link.getAttribute("value");
                    window.location.href = "{% url 'master' %}?selection=" + selectedValue;
                });
            });
        });
    </script>

    <script src="/static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/296ff2fa8f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>