    {% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Master Page</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png'  %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png'  %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .navbar-expand-lg .navbar-nav .nav-link:last-child{
            padding-right: 0;
        }
    </style>
</head>
<body>
    
    <div class="container">
        <div id="navbar">
            <nav class="navbar navbar-expand-lg justify-content-center">
                <div class="container-fluid mt-3">
                    <a class="navbar-brand" href="{% url 'master' %}?selection=company">
                        <img src="{% static 'images/logo.png' %}" alt="Resecurity CRM" width="75">
                    </a>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav d-flex mt-3 w-100">
                            <li class="nav-item" id="master">
                                <a class="nav-link fw-semibold" style="cursor: pointer;">Master</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=company" value="company">Company</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=requirement" value="requirement">Requirement</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=partner" value="partner">Partner</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=sector" value="sector">Sector</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=service" value="service">Service</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=brand" value="brand">Brand</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=via" value="via">Via</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=status" value="status">Status</a></li>
                                </ul>
                            </li>
                            
                            <li class="nav-item active" id="transactions">
                                <a class="nav-link fw-semibold" href="{% url 'transaction' %}">Transactions</a>
                            </li>
                            
                            <li class="nav-item ms-auto" id="logout">
                                <a class="nav-link fw-semibold" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Company -->

        {% if selection == "company" %}
        <div id="company-section">
            <div class="container mt-5">
                <div class="row g-3">
                    <div class="col">
                        <input class="form-control me-2 py-2" type="search" id="company-search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-3">
                        <a href="{% url 'newcompany' %}">
                            <button type="submit" class="btn fw-semibold w-100" name="company-submit" style="background-color: #212529;">
                                <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new company
                            </button>
                        </a>
                    </div>
                </div>

                <div class="hl mt-3"></div>
            </div>

            <div id="company-detail-content" class="company-detail-content container">
                <h3>Company Master</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Company Name</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                        <tr>
                            <td>{{ company.Company_Name }}</td>
                            <td>
                                <a href="{% url 'companyform' company.id %}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #212529;"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'companydetails' company.id %}">
                                    <i class="fa-solid fa-eye" style="color: #212529;"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Requirement Submission Form -->

        {% elif selection == "requirement" %}        
        <div id="form-content">
            <div class="content d-flex justify-content-center container">
                <form id="myForm" action="{% url 'submit_requirement' %}" method="POST" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}
            
                    <div class="col-12">
                        <label for="company" class="form-label fw-semibold">Company Name</label>
                        <select class="form-control form-select py-2" name="company" id="company" required>
                            <option value="">Choose a company</option>
                            {% for company in companies %}
                            <option value="{{ company.Company_Name }}">{{ company.Company_Name }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select a company.</div>
                    </div>
    
                    <div class="col-12">
                        <div class="row g-3">
                            <div class="col">
                                <label for="contact-person" class="form-label fw-semibold">Contact Person</label>
                                <div class="input-group">
                                    <select class="form-control form-select py-2" name="contact-person" id="contact-person" required>
                                        <option value="">Choose a contact person</option>
                                        {% for contact in contacts %}
                                        <option value="{{ contact.Contact_Name }}" data-company="{{ contact.company.Company_Name }}">{{ contact.Contact_Name }}</option>
                                        {% endfor %}
                                    </select>
                        
                                    <a href="#" class="input-group-text rounded-end" data-bs-toggle="modal" data-bs-target="#contactModal" style="text-decoration: none;">
                                        <i class="fa-solid fa-plus" style="color: #212529;"></i>
                                    </a>
                                </div>
                                <div class="invalid-feedback">Please select a contact person.</div>
                            </div>

                            
                        </div>
                    </div>

                    <div class="col">
                        <label for="requirement-type" class="form-label fw-semibold">Requirement</label>
                        <select class="form-control form-select py-2" name="requirement-type" id="requirement-type" required>
                            <option value="">Choose a requirement</option>
                            <option value="Product">Product</option>
                            <option value="Service">Service</option>
                        </select>
                        <div class="invalid-feedback">Please select a requirement.</div>
                    </div>

                    <div id="brandInput" class="col-8" style="display: none;">
                        <div class="row g-3">
                            <div class="col">
                                <label for="brand" class="form-label fw-semibold">Brand</label>
                                <div class="input-group">
                                    <select class="form-control form-select py-2" name="brand" id="brand">
                                        <option value="">Choose a brand</option>
                                        {% for brand in brands %}
                                        <option value="{{ brand.Brand_Name }}">{{ brand.Brand_Name }}</option>
                                        {% endfor %}
                                    </select>
                            
                                    <a href="#" class="input-group-text rounded-end" data-bs-toggle="modal" data-bs-target="#brandModal" style="text-decoration: none;">
                                        <i class="fa-solid fa-plus" style="color: #212529;"></i>
                                    </a>
                                    <div class="invalid-feedback">Please select a brand.</div>
                                </div>
                            </div>

                            <div class="col">
                                <label for="product" class="form-label fw-semibold">Product Name</label>
                                <input type="text" class="form-control py-2" name="product" id="product">
                                <div class="invalid-feedback">Please enter a product name.</div>
                            </div>
                        </div>
                    </div>
        
                    <div id="serviceInput" class="col-4" style="display: none;">
                        <label for="service" class="form-label fw-semibold">Service</label>
                        <div class="input-group">
                            <select class="form-control form-select py-2" name="service" id="service">
                                <option value="">Choose a service</option>
                                {% for service in services %}
                                <option value="{{ service.Service_Name }}">{{ service.Service_Name }}</option>
                                {% endfor %}
                            </select>
                        
                            <a href="#" class="input-group-text rounded-end" data-bs-toggle="modal" data-bs-target="#serviceModal" style="text-decoration: none;">
                                <i class="fa-solid fa-plus" style="color: #212529;"></i>
                            </a>
                            <div class="invalid-feedback">Please select a service.</div>
                        </div>
                    </div>

                    <div>
                        <label for="requirement-description" class="form-label fw-semibold">Requirement Description</label>
                        <textarea class="form-control" name="requirement-description" id="requirement-description" cols="30" rows="3" required></textarea>
                        <div class="invalid-feedback">Please enter a requirement description.</div>
                    </div>

                    <div>
                        <div class="row g-3">
                            <div class="col">
                                <label for="currency" class="form-label fw-semibold">Currency</label>
                                <select class="form-control form-select py-2" name="currency" id="currency" required>
                                    <option value="">Choose a currency</option>
                                    <option value="NPR">NPR</option>
                                    <option value="USD">USD</option>
                                    <option value="SGD">Singapore Dollar</option>
                                    <option value="INR">INR</option>
                                </select>
                                <div class="invalid-feedback">Please select a currency.</div>
                            </div> 
        
                            <div class="col">
                                <label for="price" class="form-label fw-semibold">Price</label>
                                <input type="text" class="form-control py-2" name="price" id="price" value="{{ company.price }}" required>
                                <div class="invalid-feedback">Please enter a price.</div>
                            </div>

                            <div class="col-4">
                                <label for="status" class="form-label fw-semibold">Status</label>
                                <select class="form-control form-select py-2" name="status" id="status" required>
                                    <option value="">Choose a status</option>
                                    {% for status in statuses %}
                                    <option value="{{ status.Status_Name }}">{{ status.Status_Name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">Please select a status.</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col mt-4 mb-4">
                        <button type="submit" class="btn fw-semibold w-100 px-4" name="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="serviceModalLabel">Add New Service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="serviceForm" action="{% url 'submit_service' %}" method="POST" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="row g-3 mb-3">
                                <div class="col">
                                    <label for="service" class="form-label fw-semibold">Service Name</label>
                                    <input type="text" class="form-control py-2" name="service" id="service" required>
                                    <div class="invalid-feedback">Please enter a service name.</div>
                                </div>  
                            </div>                    
                        </form>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn px-4" id="submitServiceBtn">Add Service</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="brandModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="brandModalLabel">Add New Brand</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="brandForm" action="{% url 'submit_brand' %}" method="POST" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="row g-3 mb-3">
                                <div class="col">
                                    <label for="brand" class="form-label fw-semibold">Brand Name</label>
                                    <input type="text" class="form-control py-2" name="brand" id="brand" required>
                                    <div class="invalid-feedback">Please enter a brand name.</div>
                                </div>  
                            </div>                    
                        </form>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn px-4" id="submitBrandBtn">Add Brand</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="contactModalLabel">Add New Contact</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="contactForm" action="{% url 'submit_contact' %}" method="POST" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="row g-3 mb-3">
                                <div class="col-12">
                                    <label for="company" class="form-label fw-semibold">Company Name</label>
                                    <select class="form-control form-select py-2" name="company" id="company" required>
                                        <option value="">Choose a company</option>
                                        {% for company in companies %}
                                        <option value="{{ company.Company_Name }}">{{ company.Company_Name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">Please select a company.</div>
                                </div>
        
                                <div class="col-6">
                                    <label for="contact_name" class="form-label fw-semibold">Contact Person</label>
                                    <input type="text" class="form-control py-2" name="contact_name" required>
                                    <div class="invalid-feedback">Please enter a contact person.</div>
                                </div>
        
                                <div class="col-6">
                                    <label for="designation" class="form-label fw-semibold">Designation</label>
                                    <input type="text" class="form-control py-2" name="designation" required>
                                    <div class="invalid-feedback">Please enter a designation.</div>
                                </div>
        
                                <div class="col-6">
                                    <label for="email" class="form-label fw-semibold">Email</label>
                                    <input type="email" class="form-control py-2" name="email" required>
                                    <div class="invalid-feedback">Please enter an email.</div>
                                </div>
        
                                <div class="col-6">
                                    <label for="contactnumber" class="form-label fw-semibold">Phone Number</label>
                                    <input type="text" class="form-control py-2" name="number" id="contactnumber" required>
                                    <div class="invalid-feedback">Please enter a phone number.</div>
                                </div>
                            </div>                  
                        </form>
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn px-4" id="submitContactBtn">Add Contact</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sector Details Form -->

        {% elif selection == "sector" %}        
        <div id="sector-detail-content" class="sector-detail-content container">
            <div class="row">
                <div class="col">
                    <h3>Sector Master</h3>
                </div>
                <div class="col-3">
                    <a href="{% url 'newform' %}?formtype=sector">
                        <button type="submit" class="btn fw-semibold w-100" name="sector-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new sector
                        </button>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sector Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sector in sectors %}
                    <tr>
                        <td>{{ sector.Sector_Name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Service Details Form -->

        {% elif selection == "service" %}
        <div id="service-detail-content" class="service-detail-content container">
            <div class="row">
                <div class="col">
                    <h3>Service Master</h3>
                </div>
                <div class="col-3">
                    <a href="{% url 'newform' %}?formtype=service">
                        <button type="submit" class="btn fw-semibold w-100" name="service-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new service
                        </button>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Service Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                    <tr>
                        <td>{{ service.Service_Name }}</td>
                        <td>
                            <a class="edit-service" data-id="{{ service.id }}" data-name="{{ service.Service_Name }}">
                                <i class="fa-solid fa-pen-to-square" style="color: #212529; cursor: pointer;"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editServiceModalLabel">Edit Service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editServiceForm" method="POST" action="{% url 'update_service' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="serviceName" class="form-label">Service Name</label>
                                <input type="text" class="form-control" id="serviceName" name="serviceName">
                            </div>
                            <input type="hidden" id="serviceId" name="serviceId">
                            <button type="submit" class="btn">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Via Details Form -->

        {% elif selection == "via" %}
        <div id="via-detail-content" class="via-detail-content container">
            <div class="row">
                <div class="col">
                    <h3>Via Master</h3>
                </div>
                <div class="col-2">
                    <a href="{% url 'newform' %}?formtype=via">
                        <button type="submit" class="btn fw-semibold w-100" name="via-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new via
                        </button>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Via Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for via in vias %}
                    <tr>
                        <td>{{ via.Via_Name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Status Details Form -->

        {% elif selection == "status" %}
        <div id="status-detail-content" class="status-detail-content container">
            <div class="row">
                <div class="col">
                    <h3>Status Master</h3>
                </div>
                <div class="col-2">
                    <a href="{% url 'newform' %}?formtype=status">
                        <button type="submit" class="btn fw-semibold w-100" name="status-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new status
                        </button>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Status Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for status in statuses %}
                    <tr>
                        <td>{{ status.Status_Name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Brand Details Form -->

        {% elif selection == "brand" %}
        <div id="brand-detail-content" class="brand-detail-content container">
            <div class="row">
                <div class="col">
                    <h3>Brand Master</h3>
                </div>
                <div class="col-2">
                    <a href="{% url 'newform' %}?formtype=brand">
                        <button type="submit" class="btn fw-semibold w-100" name="brand-submit" style="background-color: #212529;">
                            <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new brand
                        </button>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Brand Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for brand in brands %}
                    <tr>
                        <td>{{ brand.Brand_Name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Partner Details Form -->
        
        {% elif selection == "partner" %}
        <div id="partner-section">
            <div class="container mt-5">
                <div class="row g-3">
                    <div class="col">
                        <input class="form-control me-2 py-2" type="search" id="partner-search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-3">
                        <a href="{% url 'newpartner' %}">
                            <button type="submit" class="btn fw-semibold w-100" name="company-submit" style="background-color: #212529;">
                                <i class="fa-solid fa-plus fa-xs" style="color: #ffffff;"></i> Add new partner
                            </button>
                        </a>
                    </div>
                </div>

                <div class="hl mt-3"></div>
            </div>

            <div id="partner-detail-content" class="partner-detail-content container">
                <h3>Partner Master</h3>
                <table class="table" id="partner-table">
                    <thead>
                        <tr>
                            <th scope="col">Sector Name</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partner in partners %}
                        <tr>
                            <td>{{ partner.Partner_Name }}</td>
                            <td>
                                <a href="{% url 'partnerform' partner.id %}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #212529;"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'partnerdetails' partner.id %}">
                                    <i class="fa-solid fa-eye" style="color: #212529;"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body"></div>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('success') === 'True') {
                showToast('Data saved successfully.', 'success');
                window.history.replaceState({}, document.title, window.location.pathname + window.location.search.replace('&success=True', '').replace('success=True', ''));
            }
        });
    
        function showToast(message, type){
            var toastElement = document.getElementById('toast');
            var toastBody = toastElement.querySelector('.toast-body');
    
            if (type === 'success') {
                toastBody.textContent = message;
            }
    
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        }
    </script>

    <script>
        function searchTable(inputId, tableId){
            var input, filter, table, tr, td, i, txtValue;
            
            input = document.getElementById(inputId);
            filter = input.value.toUpperCase();
            table = document.getElementById(tableId);
            tr = table.getElementsByTagName("tr");

            for(i = 0; i < tr.length; i++){
                td = tr[i].getElementsByTagName("td")[0];
                if(td){
                    txtValue = td.textContent || td.innerText;
                    if(txtValue.toUpperCase().indexOf(filter) > -1){
                        tr[i].style.display = "";
                    }else{
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        document.addEventListener("DOMContentLoaded", function(){
            var companySearchInput = document.getElementById("company-search");
            var partnerSearchInput = document.getElementById("partner-search");

            if(companySearchInput){
                companySearchInput.addEventListener("input", function(){
                    searchTable('company-search', 'company-detail-content');
                });
            }

            if(partnerSearchInput){
                partnerSearchInput.addEventListener("input", function(){
                    searchTable('partner-search', 'partner-detail-content');
                });
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var editButtons = document.querySelectorAll('.edit-service');
            var editServiceModal = new bootstrap.Modal(document.getElementById('editServiceModal'));
            var serviceNameInput = document.getElementById('serviceName');
            var serviceIdInput = document.getElementById('serviceId');
        
            editButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var serviceId = this.getAttribute('data-id');
                    var serviceName = this.getAttribute('data-name');
        
                    serviceIdInput.value = serviceId;
                    serviceNameInput.value = serviceName;
        
                    editServiceModal.show();
                });
            });
        });
    </script>

    <script>
        document.getElementById('requirement-type').addEventListener('change', function() {
            var type = this.value;
            var brandInput = document.getElementById('brandInput');
            var serviceInput = document.getElementById('serviceInput');
            
            if (type === 'Product') {
                brandInput.style.display = 'block';
                serviceInput.style.display = 'none';
            } else if (type === 'Service') {
                brandInput.style.display = 'none';
                serviceInput.style.display = 'block';
            } else {
                brandInput.style.display = 'none';
                serviceInput.style.display = 'none';
            }
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            (function() {
                'use strict';
                var forms = document.querySelectorAll('.needs-validation');

                Array.prototype.slice.call(forms)
                    .forEach(function(form) {
                        form.addEventListener('submit', function(event) {
                            if (!form.checkValidity()) {
                                event.preventDefault();
                                event.stopPropagation();
                            }

                            form.classList.add('was-validated');
                        }, false);
                    });
            })();

            function handleFormSubmission(formId, dropdownId, modalId, responseKey){
                var form = document.getElementById(formId);

                if(form.checkValidity()){
                    var formData = new FormData(form);
                    var xhr = new XMLHttpRequest();
                    
                    xhr.onreadystatechange = function(){
                        if(xhr.readyState == XMLHttpRequest.DONE){
                            if(xhr.status == 200){
                                var response = JSON.parse(xhr.responseText);
                                var dropdown = document.getElementById(dropdownId);
                                var options = dropdown.options;
                                var exists = false;

                                for(var i = 0; i < options.length; i++){
                                    if(options[i].value === response[responseKey]){
                                        exists = true;
                                        break;
                                    }
                                }

                                if(!exists){
                                    var option = document.createElement("option");
                                    option.text = response[responseKey];
                                    option.value = response[responseKey];
                                    dropdown.add(option);
                                }
                                
                                $(modalId).modal('hide');
                            } else if(xhr.status == 400){
                                var response = JSON.parse(xhr.responseText);
                                alert(response.error);
                            } else {
                                console.error('Error:', xhr.statusText);
                            }
                        }
                    };

                    xhr.open("POST", form.action);
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    xhr.send(formData);
                }else{
                    form.classList.add("was-validated");
                }
            }

            document.getElementById("submitServiceBtn").addEventListener("click", function(){
                handleFormSubmission("serviceForm", "service", "#serviceModal", "service_name");
            });

            document.getElementById("submitBrandBtn").addEventListener("click", function(){
                handleFormSubmission("brandForm", "brand", "#brandModal", "brand_name");
            });

            document.getElementById("submitContactBtn").addEventListener("click", function(){
                handleFormSubmission("contactForm", "contact-person", "#contactModal", "Contact_Name");
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const companySelect = document.getElementById('company');
            const contactPersonSelect = document.getElementById('contact-person');
            
            companySelect.addEventListener('change', function() {
                const selectedCompany = companySelect.value;
                const contactOptions = contactPersonSelect.querySelectorAll('option');
        
                contactPersonSelect.innerHTML = '<option value="">Choose a contact person</option>';
                
                contactOptions.forEach(option => {
                    if (option.dataset.company === selectedCompany) {
                        contactPersonSelect.appendChild(option);
                    }
                });
        
                contactPersonSelect.value = "";
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const companySelect = document.getElementById('company');
            const contactPersonSelect = document.getElementById('contact-person');
            
            companySelect.addEventListener('change', function() {
                const selectedCompany = companySelect.value;
        
                if (!selectedCompany) {
                    contactPersonSelect.innerHTML = '<option value="">Choose a contact person</option>';
                    return;
                }
        
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{% url "get_contacts" %}?company=' + selectedCompany, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var response = JSON.parse(xhr.responseText);
                        contactPersonSelect.innerHTML = '<option value="">Choose a contact person</option>';
                        response.contacts.forEach(function(contact) {
                            contactPersonSelect.innerHTML += '<option value="' + contact.Contact_Name + '">' + contact.Contact_Name + '</option>';
                        });
                    }
                };
                xhr.send();
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var forms = document.querySelectorAll("form");

            forms.forEach(function(form){
                form.addEventListener("keydown", function(event){
                    if(event.key === "Enter"){
                        event.preventDefault();
                    }
                });
            });
        });

        if( window.history.replaceState ){
            window.history.replaceState( null, null, window.location.href );
        }
    </script>

    <script src="/static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/296ff2fa8f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>