{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Company</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png'  %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png'  %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        <div id="navbar">
            <nav class="navbar navbar-expand-lg justify-content-center">
                <div class="container-fluid mt-3">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" alt="Resecurity CRM" width="75">
                    </a>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mt-3">
                            <li class="nav-item" id="master">
                                <a class="nav-link fw-semibold" style="cursor: pointer;">Master</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=company" value="company">Company</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=sector" value="sector">Sector</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=service" value="service">Service</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=via" value="via">Via</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=status" value="status">Status</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=brand" value="brand">Brand</a></li>
                                    <li><a class="dropdown-item" href="{% url 'master' %}?selection=partner" value="partner">Partner</a></li>
                                </ul>
                            </li>
                            <li class="nav-item active" id="transactions">
                                <a class="nav-link fw-semibold" href="{% url 'index' %}">Transactions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>        

        <!-- Company Details Form -->

        <div id="company-content" class="company-content container">
            <h3>Company Master - Add Company</h3>
            <form id="companyForm" action="{% url 'submit_newcompany' %}" method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                
                <div class="row g-3 mb-3">
                    <div class="col">
                        <label for="company" class="form-label fw-semibold">Company Name</label>
                        <input type="text" class="form-control py-2" name="company" id="company" value="{{ company.Company_Name }}" required>
                        <div class="invalid-feedback">Please enter a country name.</div>
                    </div>
                
                    <div class="col-4">
                        <label for="sector" class="form-label fw-semibold">Sector</label>
                        <div class="input-group">
                            <select class="form-control form-select py-2" name="sector" id="sector" required>
                                <option value="">Choose a sector</option>
                                {% for sector in sectors %}
                                <option value="{{ sector.Sector_Name }}">{{ sector.Sector_Name }}</option>
                                {% endfor %}
                            </select>

                            <a href="#" class="input-group-text rounded-end" data-bs-toggle="modal" data-bs-target="#sectorModal" style="text-decoration: none;">
                                <i class="fa-solid fa-plus" style="color: #212529;"></i>
                            </a>                            
                            <div class="invalid-feedback">Please select a sector.</div>
                        </div>
                    </div>   
                </div>
                                     
                <div class="row g-3 mb-3">
                    <div class="col">
                        <label for="address" class="form-label fw-semibold">Address</label>
                        <input type="text" class="form-control py-2" name="address" id="address" value="{{ company.address }}" required>
                        <div class="invalid-feedback">Please enter an address.</div>
                    </div>     
    
                    <div class="col">
                        <label for="city" class="form-label fw-semibold">City</label>
                        <input type="text" class="form-control py-2" name="city" id="city" value="{{ company.city }}" required>
                        <div class="invalid-feedback">Please enter a city.</div>
                    </div>
    
                    <div class="col">
                        <label for="country" class="form-label fw-semibold">Country</label>
                        <select class="form-control form-select py-2" name="country" id="country" required>
                            <option value="">Choose a country</option>
                            <option value="Nepal">Nepal</option>
                            <option value="USA">United States of America</option>
                            <option value="India">India</option>
                            <option value="Singapore">Singapore</option>
                        </select>
                        <div class="invalid-feedback">Please select a country.</div>
                    </div>
                </div>
                    
                <div class="row g-3 mb-3">
                    <div class="col">
                        <label for="contact" class="form-label fw-semibold">Contact Person</label>
                        <input type="text" class="form-control py-2" name="contact" id="contact" value="{{ company.Contact_Person }}" required>
                        <div class="invalid-feedback">Please enter a contact person.</div>
                    </div>
    
                    <div class="col-4">
                        <label for="designation" class="form-label fw-semibold">Designation</label>
                        <input type="text" class="form-control py-2" name="designation" id="designation" value="{{ company.designation }}" required>
                        <div class="invalid-feedback">Please enter a designation.</div>
                    </div>
                </div>
                    
                <div class="row g-3 mb-3">
                    <div class="col">
                        <label for="email" class="form-label fw-semibold">Email</label>
                        <input type="email" class="form-control py-2" name="email" id="email" value="{{ company.email }}" required>
                        <div class="invalid-feedback">Please enter an email.</div>
                    </div>
    
                    <div class="col-4">
                        <label for="number" class="form-label fw-semibold">Phone Number</label>
                        <input type="number" class="form-control py-2" name="number" id="number" placeholder="Format: 98XXXXXXXX" value="{{ company.Phone_Number }}" required>
                        <div class="invalid-feedback">Please enter a phone number.</div>
                    </div> 
                </div>
                    
                <div class="row g-3 mb-3">
                    <div class="col">
                        <label for="requirement-type" class="form-label fw-semibold">Requirement</label>
                        <select class="form-control form-select py-2" name="requirement-type" id="requirement-type" required>
                            <option value="">Choose a requirement</option>
                            <option value="Product">Product</option>
                            <option value="Service">Service</option>
                        </select>
                        <div class="invalid-feedback">Please select a requirement.</div>
                    </div>

                    <div id="serviceInput" class="col" style="display: none;">
                        <label for="service" class="form-label fw-semibold">Service</label>
                        <div class="input-group">
                            <select class="form-control form-select py-2" name="service" id="service">
                                <option value="">Choose a service</option>
                                {% for service in services %}
                                <option value="{{ service.Service_Name }}">{{ service.Service_Name }}</option>
                                {% endfor %}
                            </select>

                            <a href="#" class="input-group-text rounded-end" data-bs-toggle="modal" data-bs-target="#serviceModal" style="text-decoration: none;">
                                <i class="fa-solid fa-plus" style="color: #212529;"></i>
                            </a>
                            <div class="invalid-feedback">Please select a service.</div>
                        </div>
                    </div>
                    
                    <div id="brandInput" class="col" style="display: none;">
                        <label for="brand" class="form-label fw-semibold">Brand</label>
                        <div class="input-group">
                            <select class="form-control form-select py-2" name="brand" id="brand">
                                <option value="">Choose a brand</option>
                                {% for brand in brands %}
                                <option value="{{ brand.Brand_Name }}">{{ brand.Brand_Name }}</option>
                                {% endfor %}
                            </select>

                            <a href="#" class="input-group-text rounded-end" data-bs-toggle="modal" data-bs-target="#brandModal" style="text-decoration: none;">
                                <i class="fa-solid fa-plus" style="color: #212529;"></i>
                            </a>
                            <div class="invalid-feedback">Please select a brand.</div>
                        </div>
                    </div>
                </div>   

                <div class="mb-3">
                    <label for="requirement-description" class="form-label fw-semibold">Requirement Description</label>
                    <textarea class="form-control" name="requirement-description" id="requirement-description" cols="30" rows="5" required>{{ company.Requirement_Description }}</textarea>
                    <div class="invalid-feedback">Please enter a requirement description.</div>
                </div>   
                    
                <div class="row g-3">
                    <div class="col-2">
                        <label for="currency" class="form-label fw-semibold">Currency</label>
                        <select class="form-control form-select py-2" name="currency" id="currency" required>
                            <option value="">Choose a currency</option>
                            <option value="NPR">NPR</option>
                            <option value="USD">USD</option>
                            <option value="SGD">Singapore Dollar</option>
                            <option value="INR">INR</option>
                        </select>
                        <div class="invalid-feedback">Please select a currency.</div>
                    </div> 

                    <div class="col-2">
                        <label for="price" class="form-label fw-semibold">Price</label>
                        <input type="text" class="form-control py-2" name="price" id="price" value="{{ company.price }}" required>
                        <div class="invalid-feedback">Please enter a price.</div>
                    </div> 
    
                    <div class="col-2">
                        <label for="via" class="form-label fw-semibold">Via</label>
                        <select class="form-control form-select py-2" name="via" id="via" required>
                            <option value="">Choose a via</option>
                            {% for via in vias %}
                            <option value="{{ via.Via_Name }}">{{ via.Via_Name }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select a via.</div>
                    </div>

                    <div id="referralNameInput" class="col" style="display: none;">
                        <label for="referral_name" class="form-label fw-semibold">Referral Name</label>
                        <input type="text" class="form-control py-2" name="referral_name" id="referral_name">
                    </div>
                    
                    <div id="partnerDropdown" class="col" style="display: none;">
                        <label for="partner" class="form-label fw-semibold">Partner</label>
                        <select class="form-control form-select py-2" name="partner" id="partner">
                            <option value="">Choose a partner</option>
                            {% for partner in partners %}
                            <option value="{{ partner.id }}">{{ partner.Partner_Name }}</option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="col">
                        <label for="status" class="form-label fw-semibold">Status</label>
                        <select class="form-control form-select py-2" name="status" id="status" required>
                            <option value="">Choose a status</option>
                            {% for status in statuses %}
                            <option value="{{ status.Status_Name }}">{{ status.Status_Name }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select a status.</div>
                    </div>
                </div>
                        
                <div class="d-flex mt-4 mb-4">
                    <div class="col">
                        <button type="submit" class="btn fw-semibold w-100 px-4" name="company-submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="sectorModal" tabindex="-1" aria-labelledby="sectorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sectorModalLabel">Add New Sector</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="sectorForm" action="{% url 'submit_sector' %}" method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="row g-3 mb-3">
                            <div class="col">
                                <label for="sector" class="form-label fw-semibold">Sector Name</label>
                                <input type="text" class="form-control py-2" name="sector" id="sector" required>
                                <div class="invalid-feedback">Please enter a sector name.</div>
                            </div>  
                        </div>                    
                    </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn px-4" id="submitSectorBtn">Add Sector</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="serviceModalLabel">Add New Service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="serviceForm" action="{% url 'submit_service' %}" method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="row g-3 mb-3">
                            <div class="col">
                                <label for="service" class="form-label fw-semibold">Service Name</label>
                                <input type="text" class="form-control py-2" name="service" id="service" required>
                                <div class="invalid-feedback">Please enter a service name.</div>
                            </div>  
                        </div>                    
                    </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn px-4" id="submitServiceBtn">Add Service</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="brandModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="brandModalLabel">Add New Brand</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="brandForm" action="{% url 'submit_brand' %}" method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="row g-3 mb-3">
                            <div class="col">
                                <label for="brand" class="form-label fw-semibold">Brand Name</label>
                                <input type="text" class="form-control py-2" name="brand" id="brand" required>
                                <div class="invalid-feedback">Please enter a brand name.</div>
                            </div>  
                        </div>                    
                    </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn px-4" id="submitBrandBtn">Add Brand</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var dropdownLinks = document.querySelectorAll("#master .dropdown-item");
            
            dropdownLinks.forEach(function(link){
                link.addEventListener("click", function(event){
                    event.preventDefault();
                    var selectedValue = link.getAttribute("value");
                    window.location.href = "{% url 'master' %}?selection=" + selectedValue;
                });
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var forms = document.querySelectorAll("form.needs-validation");

            forms.forEach(function(form){
                form.addEventListener("submit", function(event){
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add("was-validated");
                }, false);
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            function handleFormSubmission(formId){
                var form = document.getElementById(formId);
                if(form.checkValidity()){
                    var formData = new FormData(form);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", form.action);
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    xhr.send(formData);
                }else{
                    form.classList.add("was-validated");
                }
            }

            document.getElementById("submitSectorBtn").addEventListener("click", function(){
                handleFormSubmission("sectorForm");
            });

            document.getElementById("submitServiceBtn").addEventListener("click", function(){
                handleFormSubmission("serviceForm");
            });

            document.getElementById("submitBrandBtn").addEventListener("click", function(){
                handleFormSubmission("brandForm");
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var viaDropdown = document.getElementById("via");
            var referralNameInput = document.getElementById("referralNameInput");
            var partnerDropdown = document.getElementById("partnerDropdown");

            viaDropdown.addEventListener("change", function(){
                var selectedVia = viaDropdown.value;
                if(selectedVia === "Referral"){
                    referralNameInput.style.display = "block";
                    partnerDropdown.style.display = "none";
                }else if(selectedVia === "Partner"){
                    referralNameInput.style.display = "none";
                    partnerDropdown.style.display = "block";
                }else{
                    referralNameInput.style.display = "none";
                    partnerDropdown.style.display = "none";
                }
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var requirementDropdown = document.getElementById("requirement-type");
            var brandInput = document.getElementById("brandInput");
            var serviceInput = document.getElementById("serviceInput");

            requirementDropdown.addEventListener("change", function(){
                var selectedRequirement = requirementDropdown.value;
                if(selectedRequirement === "Product"){
                    brandInput.style.display = "block";
                    serviceInput.style.display = "none";
                } else if(selectedRequirement === "Service"){
                    serviceInput.style.display = "block";
                    brandInput.style.display = "none";
                } else {
                    brandInput.style.display = "none";
                    serviceInput.style.display = "none";
                }
            });
        });
    </script>

    <script>
        function handleFormSubmission(formId){
            var form = document.getElementById(formId);
            if(form.checkValidity()){
                var formData = new FormData(form);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", form.action);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                xhr.onreadystatechange = function(){
                    if(xhr.readyState === XMLHttpRequest.DONE){
                        if(xhr.status === 200){
                            window.location.reload();
                        }else{
                            console.error('Error:', xhr.statusText);
                        }
                    }
                };
                xhr.send(formData);
            }else{
                form.classList.add("was-validated");
            }
        }
    </script>

    <script>
        if( window.history.replaceState ){
            window.history.replaceState( null, null, window.location.href );
        }
    </script>

    <script src="/static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/296ff2fa8f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>